<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Siksha.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>553A90DF1B74EE2600E04B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>553A91031B79D17D00E04B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55C9B6BE1B411C22001F3086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55C9B6D31B411C22001F3086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55E9C4351B71F2CE00A8DDBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
